@include('../partials//head.html')
<div>
    @include('../partials/header.html')
    <main>
        <!--Begin banner-->
        <section class="">
            <div style="background:url(images/banner-help.jpg) center center no-repeat fixed; background-size: cover;">
                <div class="hl-item__bg-effect250">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-5">
                                <p class="hl-item__title1 my-5">Become one of our host</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End banner-->

        <!--Begin body apply form become a host-->
        <section>
            <div class="container">
                <form action="" class="pb-5">
                    <p class="hl-item__title3 mt-4 py-1">Please fill out the form below to get started</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="hl-item__text3 mb-2">Name</p>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="First last">
                            </div>
                            <p class="hl-item__text3 mb-2">Email</p>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="you@email.com">
                            </div>
                            <p class="hl-item__text3 mb-2">Skype ID</p>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="you@email.com">
                            </div>
                            <p class="hl-item__text3 mb-2">Phone Number</p>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Including country and area code">
                            </div>
                            <p class="hl-item__text3 mb-2">Location</p>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Which city and country do you live in?">
                            </div>
                            <p class="hl-item__text3 mb-2">Preferred Interview Time</p>
                            <div class="form-group d-flex">
                                <input class="form-control w-25 mr-2" type="text" placeholder="">
                                <div class="ui dropdown d-flex justify-content-between align-items-center pr-2 form-control m-selection__w147">
                                    <input type="hidden" name="">
                                    <div class="text">02 AM</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                                        <path fill="#ced4da" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                                    </svg>
                                    <div class="menu">
                                        <div class="item" data-value="0">
                                            <span>03 AM</span>
                                        </div>
                                        <div class="item" data-value="1">
                                            <span>04 AM</span>
                                        </div>
                                    </div>
                                </div>
                                <span class="pt-2 mx-2"> : </span>
                                <div class="ui dropdown d-flex justify-content-between align-items-center pr-2 form-control m-selection__w147">
                                    <input type="hidden" name="">
                                    <div class="text">00</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                                        <path fill="#ced4da" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                                    </svg>
                                    <div class="menu">
                                        <div class="item" data-value="0">
                                            <span>00</span>
                                        </div>
                                        <div class="item" data-value="1">
                                            <span>01</span>
                                        </div>
                                    </div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                    viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="15px" height="15px" class="my-3 mx-3">
                                    <g>
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    
                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    
                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" data-original="#000000"
                                        class="active-path" data-old_color="#753636" fill="#4FD08D"/>
                                    </g>
                                </svg>
                            </div>
                            <p class="hl-item__text3 mb-2">GMT</p>
                            <div class="form-group">
                                <div class="ui dropdown d-flex justify-content-between align-items-center pr-2 form-control m-selection__w300">
                                    <input type="hidden" name="">
                                    <div class="text">(GMT-08:00) Pacific Time (US &amp; Canada)</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                                        <path fill="#ced4da" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                                    </svg>
                                    <div class="menu">
                                        <div class="item" data-value="0">
                                            <span>(GMT-08:00) Pacific Time (US &amp; Canada)</span>
                                        </div>
                                        <div class="item" data-value="1">
                                            <span>(GMT-08:00) Pacific Time (US &amp; Canada)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="hl-item__text3 mb-2">How did you hear about us?</p>
                            <div class="form-group">
                                <div class="ui dropdown d-flex justify-content-between align-items-center pr-2 form-control m-selection__w100">
                                    <input type="hidden" name="">
                                    <div class="default text"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                                        <path fill="#ced4da" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                                    </svg>
                                    <div class="menu">
                                        <div class="item" data-value="0">
                                            <span>Friend</span>
                                        </div>
                                        <div class="item" data-value="1">
                                            <span>Facebook</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="hl-item__text3 mb-2">Tell Us About Your Culinary Background</p>
                            <div class="form-group">
                                <textarea name="" class="form-control pt-2 mb-4" style="height:196px;resize:none" placeholder="Excepteur sint occaecat cupidatat non proident"></textarea>
                            </div>
                            <p class="hl-item__text3 mb-2">Tell Us About Your Cuisine</p>
                            <div class="form-group">
                                <textarea name="" class="form-control pt-2 mb-4" style="height:196px;resize:none" placeholder="Excepteur sint occaecat cupidatat non proident"></textarea>
                            </div>
                            <p class="hl-item__text3 mb-2">Tell Us Why You Want To Be A Traveling Spoon Host</p>
                            <div class="form-group">
                                <textarea name="" class="form-control pt-2 mb-4" style="height:196px;resize:none" placeholder="Excepteur sint occaecat cupidatat non proident"></textarea>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12 text-right mb-5">
                            <p class="hl-item__text1">By signing up you agree to Kuppa.net<a class="hl-item__link1" href="">
                            Terms of Use </a>&amp;<a class="hl-item__link1" href=""> Privacy Policy</a></p>
                            <button type="submit" class="col-md-5 m-btn m-btn-green">Send Application</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!--End body apply form become a host-->
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')
<!-- // -->
@include('../components/modal-login.html')
<!-- // -->
@include('../components/modal-register.html')

