@include('../partials//head.html')
<div>
    @include('../partials/header.html')
    <main>
        <section class="container">
            <div class="row">
                <div class="col-3 pt-4" style="background-color: #f7f7f7;">
                    <div class="d-flex justify-content-start">
                        <img src="images/host-dashboard_ava-user.png" style="height: 73px; width: 73px;">
                        <div class="d-flex align-items-center ml-3">
                            <div class="d-flex flex-column">
                                <p class="m-0 hl-item__title10-18">Robert Smith</p>
                                <p class="m-0 hl-item__text1" style="color: #a9a9a9;">arah@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <label class="hl-item__title10-18">HOST</label>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2--active" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Accpected Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Request Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <img class="mr-3" src="images/host-dashboard_chef.svg">
                                    List tours
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <img class="mr-3" src="images/host-dashboard_dollar.svg">
                                    Credit earn: $70.5
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <label class="hl-item__title10-18">TOURIST</label>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Confirmed Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Pending Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Previous Trips
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Profile Info
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Earn Free Meals
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center menu__s-2" href="#">
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-align-left fa-w-14 fa-3x mr-3" width="25" height="25"><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z" class=""></path></svg>
                                    Credits avaiable: $5.00
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-9 pt-4">
                    <label class="hl-item__title11-27 pl-3">Accpected Reservations</label>
                    <table class="table">
                        <thead>
                            <tr style="font-size: 12px;">
                                <th scope="col">People</th>
                                <th scope="col">DATE/TIME</th>
                                <th scope="col">EXPERIENCE TYPE</th>
                                <th scope="col">ADD-ONS</th>
                                <th scope="col">GUESTS</th>
                                <th scope="col">TOTAL PRICE</th>
                            </tr>
                          </thead>
                        <tbody>
                            <tr style="font-size: 13px;">
                                <th>
                                    <img class="mr-2" src="images/host-dashboard_ava-people.png" style="height: 29px; width: 29px;">
                                    Tempus Justo
                                </th>
                                <td>Nov 15, 2017  10:00 AM</td>
                                <td>Meal 1-5 People</td>
                                <td>Lorem ipsum</td>
                                <td>Aldut 12+</td>
                                <td>$50.00</td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <th>
                                    <img class="mr-2" src="images/host-dashboard_ava-people.png" style="height: 29px; width: 29px;">
                                    Tempus Justo
                                </th>
                                <td>Nov 15, 2017  10:00 AM</td>
                                <td>Meal 1-5 People</td>
                                <td>Lorem ipsum</td>
                                <td>Aldut 12+</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section> 
    </main>
    @include('../partials/footer.html')
</div>
<!-- // -->
@include('../components/modal-login.html')
<!-- // -->
@include('../components/modal-register.html')
<!-- // -->
@include('../partials/foot.html')

