.modal-lrf,{
    .modal-title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #29353E;
    }
    .close {
        font-size: 20px;
        &:focus {
            outline: none;
        }
    }
    &__call {
        font-size: 15px;
        color: #4ED08D;
        font-weight: 600;
    }
    &__call:hover {
        color: rgb(51, 144, 96);
    }
    &__text {
        font-size: 15px;
    }
    &__fb {
        border-color: #3a559f;
        background: #3a559f;
        &:hover {
            border-color: #3a559f;
            color: #3a559f;
            background: #fff;
            svg path {
                fill: #3a559f;
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-lrf {
        .modal-dialog {
            max-width: 400px;
        }
    }
    .modal-c{
        .modal-dialog {
            max-width: 743px;
            margin-top: 10%;
        }
    }
}