<!-- Begin footer -->
<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 pr-0 mb-4 mb-md-0 footer__info">
                    <h4 class="">COMPANY INFO</h4>
                    <ul>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt=""> About</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Founders</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">How it works</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Safety</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Press</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Careers</a>
                        </li>
                        <li>
                            <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Testmonials</a>
                        </li>
                        <li>
                             <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0">
                            <h4>HELP</h4>
                            <ul>
                                <li>
                                    <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Traveler FAQs</a>
                                </li>
                                <li>
                                    <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Host FAQs</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 pl-lg-0 pr-0">
                            <h4>JOIN US</h4>
                            <ul>
                                <li>
                                    <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Become a Host</a>
                                </li>
                                <li>
                                    <a href=""><img class="mb-1 mr-1" src="images/ic_right-arrow-angle.svg" alt="">Become an Ambassador</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 pl-lg-4 mt-md-4 mt-lg-0 footer__subscribe">
                    <form action="">
                        <h4>SUBSCRIBE TO OUR NEWSLETTER!</h4>
                        <input class="col-lg-11 col-md-10" type="email" placeholder="Enter Email Address">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <h5>&#169; Copyright information 2017, All Right Of Reserve</h5>
    </div>
</footer>
<!-- End footer -->