<!--Begin header-->
<header class="header">
    <div class="header-head">
        <div class="container d-flex flex-wrap justify-content-end align-items-center header-log">
            <a class="callModalLogin" href="javascript:void(0)">
                <div class="header__list callModalLogin">
                    <img class="mb-1 mr-1" src="images/ic-lock.svg" alt="">
                    <span>LOGIN</span>
                </div>
            </a>
            <a class="callModalRegister" href="javascript:void(0)">
                <div class="header__list ">
                    <img class="mb-1 mr-1" src="images/ic-user.svg" alt="">
                    <span>SIGN UP</span>
                </div>
            </a>
            <div class=" header__list d-flex flex-wrap mb-3">
                <div class="header__social">
                    <a href=""><img src="images/ic-facebook.svg" alt=""></a>
                </div>
                <div class="header__social">
                    <a href=""><img src="images/ic-twitter.svg" alt=""></a>
                </div>
                <div class="header__social">
                    <a href=""><img src="images/ic-linkedin.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="check-hang">
        <div class="d-none d-lg-block header-menu">
            <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
                <a class="d-inline-block ml-0" href="#">
                    <img class="header-menu__logo" src="images/ic-logo.png" alt="">
                    <img class="header-menu__logo-scroll" src="images/ic-logo-scroll.png" alt="">
                </a>
                <div class="d-flex flex-wrap align-items-center">
                    <nav class="d-flex flex-wrap">
                        <a class="text-uppercase header-menu__link" href="">BECOME A HOST</a>
                        <a class="text-uppercase header-menu__link" href="">HOW IT WORKS?</a>
                        <a class="text-uppercase header-menu__link" href="">HELP</a>
                        <a class="text-uppercase header-menu__link" href="">ABOUT US</a>
                        <a class="text-uppercase header-menu__link" href="">FREE MEAT</a>
                        <a class="text-uppercase header-menu__link" href="">GIVE A GIFT</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End header-->

<!--Begin header mobile-->
<div class="check-hang">
<section class="d-lg-none header-mobile">
    <div class="d-flex justify-content-between align-items-center w-100 pr-2 pl-3 bg-white">
        <a class="navbar-brand" href="#">
            <img class="header-mobile__logo" src="images/ic-logo.png" alt="">
            <img class="header-menu__logo-scroll" src="images/ic-logo-scroll.png" alt="">
        </a>
        <button id="callHeaderMobileMenu" class="d-flex justify-content-center align-items-center border-0 bg-white">
            <img src="images/ic-menu.svg" alt="">
        </button>
    </div>
    <div id="headerMobileMenu" class="header-mobile-menu">
        <nav class="ml-4 header-mobile-menu__wrap">
            <p><a class="text-uppercase header-menu__link" href="">BECOME A HOST</a></p>
            <p><a class="text-uppercase header-menu__link" href="">HOW IT WORKS?</a></p>
            <p><a class="text-uppercase header-menu__link" href="">HELP</a></p>
            <p><a class="text-uppercase header-menu__link" href="">ABOUT US</a></p>
            <p><a class="text-uppercase header-menu__link" href="">FREE MEAT</a></p>
            <p><a class="text-uppercase header-menu__link" href="">GIVE A GIFT</a></p>
        </nav>
    </div>
</section>
</div>
<!--End  header mobile-->